:root {
  --unit:100px;
  --circle-color: #bc002d;
  --bg-color: #ffffff;
}

.flag {
  width: calc(var(--unit) * 3);
  height: calc(var(--unit) * 2);
  background-color: var(--bg-color);

  display: flex;

  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.circle {
  width: calc(var(--unit) * 1.2);
  height: calc(var(--unit) * 1.2);
  background-color: var(--circle-color);
  border-radius: 50%;
}
