:root {
    --unit: 30px;
    --blue-color: #abcae9;
    --white-color: #ffffff;
    --black-color: #000000;
  }
  
  .flag {
    width: calc(var(--unit) * 36);
    height: calc(var(--unit) * 24);
    background-image: linear-gradient(
      var(--blue-color),
      var(--blue-color) 37.5%,
      var(--white-color) 37.5%,
      var(--white-color) 41.6%,
      var(--black-color) 41.6%,
      var(--black-color) 58.3%,
      var(--white-color) 58.3%,
      var(--white-color) 62.5%,
      var(--blue-color) 62.5%,
      var(--blue-color)
    );
    border: 1px solid;
  }
  