:root {
    --unit: 100px;
    --blue-color: #11457E;
    --white-color: #FFFFFF;
    --red-color: #D7141A;
}

.flag {
    position: relative;
    width: calc(var(--unit)*3);
    height: calc(var(--unit)*2);
    border: 1px solid black;

    background-image: linear-gradient(
        var(--white-color),
        var(--white-color) 50%,
        var(--red-color) 50%
    );
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: var(--unit) solid transparent;
    border-bottom: var(--unit) solid transparent;
    border-left: calc(var(--unit)*3/2) solid var(--blue-color);
    position: absolute;
}