:root {
    --flag-width: 900px;
    --flag-height: 500px;
    --circle-size: 250px;
}

.flag {
    width: var(--flag-width);
    height: var(--flag-height);
    background-color: hsl(120, 66%, 18%);
    position: relative;
}

.circle {
    width: var(--circle-size);
    aspect-ratio: 1;
    background-color: hsl(0, 90%, 45%);
    border-radius: 50%;
    position: absolute;
    top: calc(var(--flag-height) /2 - var(--circle-size )/2);
    left: calc(var(--flag-width)/2 - var(--circle-size)/1.5);
}