:root {
    --unit: 20px;
    --circle-color: #F42A41;
    --bg-color: #006A4E;
}

.flag {
    width: calc(var(--unit)*20);
    height: calc(var(--unit)*12);
    background: var(--bg-color);
    position: relative;
    border: 1px solid black;
}

.circle {
    width: calc(var(--unit)*8);
    aspect-ratio: 1;
    background-color: var(--circle-color);
    border-radius: 50%;
    position: absolute;
    top: calc(var(--unit)*2);
    left: calc(var(--unit)*5);
}