:root {
  --unit: 100px;
  --top-stripe-color: #000000;
  --mid-stripe-color: #dd0000;
  --btm-stripe-color: #ffcc00;
}

.flag {
  width: calc(var(--unit) * 5);
  height: calc(var(--unit) * 3);

  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.flag > * {
  height: var(--unit);
  width: calc(var(--unit) * 5);
}

.top-stripe {
  background: var(--top-stripe-color);
}

.mid-stripe {
  background: var(--mid-stripe-color);
}

.btm-stripe {
  background: var(--btm-stripe-color);
}
