:root {
    --unit: 100px;
    --left-stripe-color: #002654;
    --mid-stripe-color: #FFFFFF;
    --right-stripe-color: #ed2939;
}

.flag {
    width: calc(var(--unit)*3);
    height: calc(var(--unit)*2);

    display: flex;

    border: 1px solid black;
}

.flag > * {
    width: var(--unit);
    height: calc(var(--unit)*2);
}

.left-stripe {
    background: var(--left-stripe-color);
}

.mid-stripe {
    background: var(--mid-stripe-color);
}

.right-stripe {
    background: var(--right-stripe-color);
}