:root {
  --unit: 10px;
  --top-stripe-color: #ffffff;
  --btm-stripe-color: #dc143c;
}

.flag {
  width: calc(var(--unit) * 8);
  height: calc(var(--unit) * 5);

  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.flag > * {
  width: calc(var(--unit) * 8);
  height: calc(var(--unit) * 5 / 2);
}

.top-stripe {
  background: var(--top-stripe-color);
}

.btm-stripe {
  background: var(--btm-stripe-color);
}
