:root {
    --flag-width: 900px;
    --flag-height: 600px;
    --color-top: hsl(0, 0%, 96%);
    --color-bottom: hsl(0, 90%, 56%);
}

.flag {
    border: 1px solid black;
    width: var(--flag-width);
    height: var(--flag-height);
    position: relative;
}

.white {
    width: var(--flag-width);
    height: calc(var(--flag-height)/2);
    background-color: var(--color-top);
    position: absolute;
}

.red {
    width: var(--flag-width);
    height: calc(var(--flag-height)/2);
    background-color: var(--color-bottom);
    position: absolute;
    top: calc(var(--flag-height)/2);
}
